<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

    <head>
        <title>Choices</title>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar"></div>

        <div class="container">
            <h1 class="col-xs-12" th:text="${question.name}"></h1>
            <div th:if="${account_answer == null}">
                <form th:method="post" th:action="@{/question/{id}(id=${question.id})}">
                    <div class="btn-group-vertical col-md-6" data-toggle="buttons">
                        <label th:each="option : ${options}" class="btn btn-default" style="outline: none; margin-bottom: 20px">
                            <input type="radio" value="nimi" name="option_id" th:value="${option.id}"/><span th:text="${option.value}">ookoo</span>
                        </label>
                    </div>
                    <div class="col-xs-12" style="">
                        <input type="submit" class="btn btn-primary" style="outline: none"/>
                    </div>
                </form>
            </div>
            <div th:unless="${account_answer == null}">
                <p>You choose <span th:text="${account_answer.option.value}">option value</span> which is
                    <span th:if="${account_answer.option.correct}">correct</span><span th:unless="${account_answer.option.correct}">not correct</span></p>
            </div>
        </div>
    </body>
</html>