<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

    <head>
        <title>Answer</title>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar"></div>

        <div class="container">
            <a id="goBack" style="float: left; color: black; text-decoration: none; font-size: 180%" th:href="@{/?page={page}(page=${lastPage})}" class="glyphicon glyphicon-menu-left col-xs-12 col-md-12"></a>
            <h2 class="col-xs-12 col-md-12 text-center" style="margin-bottom: 4%; overflow: auto"><span th:text="${question.name}"></span></h2>
            <div th:if="${account_answer == null}">
                <form id="answer" th:method="post" th:action="@{/question/{id}?lastPage={page}(id=${question.id}, page=${lastPage})}">
                    <div class="btn-group-vertical col-md-12 col-xs-12" data-toggle="buttons" style="margin: auto">
                        <label th:each="option : ${options}" class="btn btn-default" style="outline: none; margin-bottom: 20px; padding: 1% 0% 1% 0%; overflow: auto">
                            <input id="option" type="radio" value="nimi" name="option_id" th:value="${option.id}"/>
                            <span th:text="${option.value}">ookoo</span>
                        </label>
                    </div>
                    <div class="text-center">
                        <input id="submit" type="submit" class="btn btn-primary col-xs-12 col-md-12" style="outline: none; padding: 1% 0% 1% 0%" value="Answer!"/>
                    </div>
                </form>
            </div>
            <div th:unless="${account_answer == null}" class="text-center">
                <p>You chose <span th:text="${account_answer.option.value}">option value</span> which is
                    <span th:if="${account_answer.option.correct}" style="color: green">correct</span><span th:unless="${account_answer.option.correct}"><span style="color: red">not correct</span><br/> The correct option was <span th:text="${correctOption.value}"></span></span></p>
            </div>
            <div class="text-center">
                <p>~<a id="stats" th:href="@{/{user}/stats(user=${question.publisher.username})}"><span th:text="${question.publisher.username}"></span></a></p>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')" class="col-xs-12 col-md-12 text-center" style="margin-top: 3%">
                <form id="adminDelete" th:method="delete" th:action="@{/admin/questions}">
                    <input type="hidden" th:value="${question.id}" name="question_id"/>
                    <input type="submit" value="delete" class="btn btn-danger"/>
                </form>
            </div>
        </div>
    </body>
</html>