<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

    <head>
        <title>Choices</title>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar"></div>

        <div class="container">
            <h2 class="col-xs-12 col-md-12 text-center" th:text="${question.name}" style="margin-bottom: 4%;"></h2>
            <div th:if="${account_answer == null}">
                <form th:method="post" th:action="@{/question/{id}(id=${question.id})}">
                    <div class="btn-group-vertical col-md-12 col-xs-12" data-toggle="buttons" style="margin: auto">
                        <label th:each="option : ${options}" class="btn btn-default" style="outline: none; margin-bottom: 20px; padding: 1% 0% 1% 0%">
                            <input type="radio" value="nimi" name="option_id" th:value="${option.id}"/><span th:text="${option.value}">ookoo</span>
                        </label>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary col-xs-12 col-md-12" style="outline: none; padding: 1% 0% 1% 0%" value="Answer!"/>
                    </div>
                </form>
            </div>
            <div th:unless="${account_answer == null}" class="text-center">
                <p>You chose <span th:text="${account_answer.option.value}">option value</span> which is
                    <span th:if="${account_answer.option.correct}" style="color: green">correct</span><span th:unless="${account_answer.option.correct}" style="color: red">not correct</span></p>
            </div>
            <div class="text-center">
                <p>~<a th:href="@{/{user}/stats(user=${question.publisher.username})}"><span th:text="${question.publisher.username}"></span></a></p>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')" class="col-xs-12 col-md-12 text-center" style="margin-top: 3%">
                <form th:method="delete" th:action="@{/admin/questions}">
                    <input type="hidden" th:value="${question.id}" name="question_id"/>
                    <input type="submit" value="delete" class="btn btn-danger"/>
                </form>
            </div>
        </div>
    </body>
</html>