<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

    <head>
        <title>Choices</title>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar" style="background-color: green"></div>

        <div class="container">
            <div class="grid">
                <div class="row">
                    <h1 class="col-xs-12 col-md-12" style="margin-bottom: 2%">Hello, <span th:text="${user.username}">user</span></h1>
                </div>
                <div class="row">
                    <div th:if="${not #lists.isEmpty(questions)}" style="margin-top: 2%" class="col-xs-12 col-md-12">
                        <h4>Latest questions:</h4>
                        <hr/>
                    </div>
                </div>
                <div th:each='question : ${questions}'>
                    <div class="row">
                        <a id="link" th:href="@{/question/{id}(id=${question.id})}" class="col-xs-12 col-md-12">
                            <div style="margin-top: 1%">
                                <p th:text='${question.name}'>question's name</p>
                                <p th:text="${question.publisher.username}">publisher's name</p>
                                <p th:text='${question.date}'>date</p>
                            </div>
                            <hr/>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class='col-xs-6 col-md-6'>
                        <form th:method="get" th:action="@{/prevPage}" name="previous">
                            <input type="hidden" name="page" th:value="${page}"/>
                        </form>
                        <a id="link" href="#" onclick="document.forms['previous'].submit();" style="float: left"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    </div>
                    <div class='col-xs-6 col-md-6'>
                        <form th:method="get" th:action="@{/nextPage}" name="next">
                            <input type="hidden" name="page" th:value="${page}"/>
                        </form>
                        <a id="link" href="#" onclick="document.forms['next'].submit();" style="float: right"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>