<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Hello world!</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body id="body">


        <h1>Hello world!</h1>
        <!--        <h1>MOIKKA KAIKKI! :-)</h1>
        
                <div th:each="user : ${users}">
                    <p th:text="${user}">username</p>
                </div>
        
                <form th:action="@{/account}" th:method="post">
                    <input type="text" name="name"/>
                    <input type="submit" value="add name!"/>
                </form>-->
        <div>
            <canvas id="myCanvas"
                    style="border:1px solid #c3c3c3; touch-action: none"
                    >
                Your browser does not support the canvas element.
            </canvas>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="javascript/canvas.js"></script>
    </body>
</html>