<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Choices</title>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="success" th:if="${success}">
            <span class="closebtn" onclick="this.parentElement.style.display = 'none';">&times;</span> 
            <span th:text="${success}">success</span>
        </div>
        <div class="alert" th:if="${error}">
            <span class="closebtn" onclick="this.parentElement.style.display = 'none';">&times;</span> 
            <span th:text="${error}">error</span>
        </div>
        <div style="margin: 3% 1% 3% 1%;">
            <form method="post" th:action="@{/authenticate}">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username"/>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password"/>
                </div>

                <button type="submit" class="btn btn-primary" style="display: inline-block; margin-right: 10px;">Login</button>
            </form>
        </div>
    </body>
</html>
