<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Choices</title>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'/>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar"></div>

        <div class='container'>
            <div class="grid">
                <div class="row">
                    <div class='col-md-4 col-xs-4'>
                        <label>New option</label>
                        <form class="form-inline" th:method='post' th:action='@{/{user}/questions/{id}(user=${user.username}, id=${question.id})}'>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="option" name="value"/>
                            </div>
                            <input class="btn btn-success" type="submit" value="+"/>
                            <br/>
                            <div style="margin-top: 2%">
                                <div class="radio" style="margin-right: 2%">
                                    <label><input type="radio" value="1" name="correct"/>correct</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" value="0" name="correct" checked="true"/>incorrect</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class='col-md-8 col-xs-8'>
                        <div class="">
                            <h2 class="" th:text="${question.name}" style="overflow: auto; margin-bottom: 0%"></h2>
                            <br/>
                            <form style="margin-bottom: 4%" th:action='@{/{user}/questions/{id}/toggle(user=${user.username}, id=${question.id})}' th:method='post'>
                                <input type='hidden' th:value='${question.id}' name='question_id'/>
                                <div th:if='${question.published}'>
                                    <input type='submit' class='btn btn-danger' value='set private'/>
                                </div>
                                <div th:unless='${question.published}'>
                                    <input type='submit' class='btn btn-primary' value='set public'/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div th:each="option : ${options}" style="">
                        <div class="panel panel-default col-xs-5 col-md-5" style="overflow: auto; margin-bottom: 4%; margin-left: 4%; padding: 0% 0% 0% 0%">
                            <div class="panel-body">
                                <div th:if="${option.correct}">
                                    <p style="color: green;" th:text="${option.value}"></p>
                                </div>
                                <div th:unless="${option.correct}">
                                    <p style="color: red;" th:text="${option.value}"></p>
                                </div>
                            </div>
                            <div style="float: right">
                                <form th:method="delete" th:action='@{/{user}/questions/{id}(user=${user.username}, id=${question.id})}'>
                                    <input type='hidden' th:value='${option.id}' name='option_id'/>
                                    <input type='submit' class="btn btn-danger" value='X'/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>