<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Choices</title>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'/>
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class='container'>
            <div class="2-cols">
                <div class='col-1 col-md-6 col-xs-6'>
                    <h2><span th:text="${user.username}"></span>'s tests</h2>

                    <label>New question</label>
                    <form class="form-inline" th:method='post' th:action='@{/{user}/questions(user=${user.username})}'>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="name" name="name"/>
                        </div>
                        <input class="btn btn-success" type="submit" value="Create a new question"/>
                    </form>

                </div>
                <div class="col-2 col-md-6 col-xs-6">

                    <div class='text-center' style='margin: 1% 0% 1% 0%' th:each="question : ${questions}">
                        <a id="link" th:href="@{/questions/{id}(id=${question.id})}">
                            <div class="panel panel-default" th:href='@{/index}' style='margin: 0% 2% 0% 2%'>
                                <div class="panel-body" th:text='${question.name}'>test's name</div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>
