<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Choices</title>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'/>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"/>
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar"></div>

        <div class='container'>
            <div class="3-cols">
                <div class='col-1 col-md-6 col-xs-6'>
                    <label>New option</label>
                    <form class="form-inline" th:method='post' th:action='@{/{user}/questions/{id}(user=${user.username}, id=${question.id})}'>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="option" name="value"/>
                        </div>
                        <input class="btn btn-success" type="submit" value="+"/>
                        <br/>
                        <div style="margin-top: 2%">
                            <div class="radio" style="margin-right: 2%">
                                <label><input type="radio" value="1" name="correct"/>true</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" value="0" name="correct"/>false</label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class='col-2 col-md-6 col-xs-6'>
                    <div class="Row">
                        <h2 class="Column" th:text="${question.name}" style="overflow: auto; margin-bottom: 6%"></h2>
                        <form th:method='post' th:action='@{/{user}/questions/{id}/toggle(user=${user.username}, id=${question.id})}'>
                            <input type='hidden' th:value='${question.id}' name='question_id'/>
                            <div th:if='${question.published}'>
                                <input type='submit' class='btn btn-danger' value='set private'/>
                            </div>
                            <div th:unless='${question.published}'>
                                <input type='submit' class='btn btn-primary' value='set public'/>
                            </div>
                        </form>
                    </div>
                    <div th:each="option : ${options}">
                        <div class="panel panel-default" style="overflow: auto; margin-bottom: 1%;">
                            <div class="panel-body">
                                <div th:if="${option.correct}">
                                    <p style="color: green;" th:text="${option.value}"></p>
                                </div>
                                <div th:unless="${option.correct}">
                                    <p style="color: red;" th:text="${option.value}"></p>
                                </div>
                            </div>
                            <div style="float: right">
                                <form th:method="delete" th:action='@{/{user}/questions/{id}(user=${user.username}, id=${question.id})}'>
                                    <input type='hidden' th:value='${option.id}' name='option_id'/>
                                    <input type='submit' class="btn btn-danger" value='X'/>
                                </form>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>